/* CharacterGallery.css */
.character-gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.character-gallery li {
    margin: 0;
    list-style: none;
}